---
http_interactions:
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/user/link_history?access_token=asdlkfjasd134i1ojfasldkrj234aslkdjfq3249&limit=100&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"3b4c008aa1fa7be00061f233203d1ae9bed7f28b"'
    body:
      encoding: UTF-8
      string: '{"status_code": 200, "data": {"link_history": [{"archived": false,
        "user_ts": 1380567126, "title": "Example: Pegboard Nerds", "created_at":
        1380567126, "modified_at": 1380567216, "private": true, "aggregate_link":
        "http://bit.ly/x8GIHqx", "long_url": "https://example.com/pegboard-nerds?album_id=28520&short_url=http://bit.ly/x4YuCW5#play=28520&album=1",
        "client_id": "", "link": "http://bit.ly/x8GIHqv"}, {"archived": false, "user_ts":
        1380567126, "title": "Example: Pegboard Nerds", "created_at": 1380567126,
        "modified_at": 1380567216, "private": true, "aggregate_link": "http://bit.ly/x4YuCW6",
        "long_url": "https://Example.Comatose/pegboard-nerds?album_id=28520#play=28520&album=1",
        "client_id": "", "link": "http://bit.ly/x4YuCW5"}, {"archived": false, "user_ts":
        1380565141, "title": "Example: Gloria Gaynor", "created_at": 138056514[...]
[...]
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/user/link_history?access_token=asdlkfjasd134i1ojfasldkrj234aslkdjfq3249&limit=100&offset=300
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"84de833f53450cc679bdaa0a1e84f878ed460543"'
    body:
      encoding: UTF-8
      string: '{"status_code": 200, "data": {"link_history": [], "result_count": 300},
        "status_txt": "OK"}'
  recorded_at: Mon, 30 Sep 2013 19:19:36 GMT
recorded_with: VCR 2.6.0
