---
http_interactions:
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/user/link_history?access_token=asdlkfjasd134i1ojfasldkrj234aslkdjfq3249&limit=100&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"1c0d2f2e07afdb85cfee7c7b59fc0fdd47632652"'
    body:
      encoding: UTF-8
      string: '{"status_code": 200, "data": {"link_history": [{"archived": false,
        "user_ts": 1380565141, "title": "Gloria Gaynor", "created_at":
        1380565141, "modified_at": 1380565238, "private": true, "aggregate_link":
        "http://bit.ly/z8GBaYG", "long_url": "http://example.com/gloria-gaynor?album_id=31710&track=1#play=31710&track=1",
        "client_id": "", "link": "http://bit.ly/z8GBaYF"}, {"archived": false, "user_ts":
        1380565141, "title": "Gloria Gaynor", "created_at": 1380565141,
        "modified_at": 1380565238, "private": true, "aggregate_link": "http://bit.ly/z4YpSQn",
        "long_url": "http://example.com/gloria-gaynor?album_id=31710&track=1&short_url=http://bit.ly/z8GBaYF#play=31710&track=1",
        "client_id": "", "link": "http://bit.ly/z4YpSQm"}, {"archived": false, "user_ts":
        1380564547, "title": "MS MR", "created_at": 138[...]
[...]
